* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    /* overflow: hidden; */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(172, 172, 172);
    text-align: center;
}

h1 {
    background-color: rgba(143, 191, 255, 0.467);
    margin: 0;
    padding: 20px 0;
}

.game-controls {
    background-color: rgba(113, 171, 246, 0.467);
}

.game-info {
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
    
}

.lives {
    position: relative;
    top: 30px;
    right: 150px;
}

.modal {
    height: 22px;
    margin: 20px auto 0px auto;
    padding: 50px 20vw;
    background-color: rgba(100, 126, 160, 0.467);
    font-size: larger;
}

.hint-btn {
    height: 2em;
    width: 4em;
    background-color: rgba(100, 126, 160, 0.467);
}

.reset-btn {
    margin: 0 2vh;
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.board-container {
    margin: 50px auto;
}


.cell {
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid rgb(77, 77, 77);
    background-color: rgb(144, 144, 144);
    transition: 350ms;
}

.empty-cell {
    background-color: rgb(93, 93, 93);
}

.blown-up {
    background-color: rgb(50, 49, 49);
}

.cell:hover, .reset-btn:hover {
    cursor: pointer;
    background-color: rgb(93, 93, 93);
}

.leaderboard-container {
    display: inline-flex;
    width: auto;
}

.leaderboard {
    text-align: left;
}

footer {
    margin-top: auto;
    height: 80px;
    padding: 22px;
    background-color: rgba(143, 191, 255, 0.467);
    
    font-size: 30px;
}